@use '../base/base' as *;
/*--------------
// パンくずリスト
---------------*/
.breadcrumb{
  margin-top: 10px;
  li{
    color: var(--c-font);
    display: inline-block;
    position: relative;
    padding-right: .3em;
    margin-right: 1em;
    font-size: 1.2rem;
    @include mq(tb) {
      font-size: 1.4rem;
    }
    &::after{
      left:100%;
      top: 37%;
      position: absolute;
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border-top: 1px solid var(--c-font);
      border-right: 1px solid var(--c-font);
      transform: rotate(45deg);
    }
    &:last-child::after{
      content: none;
    }
    a{
      color: var(--c-font);
      @include hover;
    }//a
  }//li
}//#breadcrumb
